.formulaire {
  width: 50%;  
}

.home {
  flex-direction: column;
}

nav > .bread {
  background-color: lightblue;
  border-top: 1px solid darkblue;
}

.header {
  background-color: darkblue;
  height: 17vh;
  min-height: 100px;
  margin-top: 1em;
}

.header > ul > li > a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.header > ul > li:hover {
  border-bottom: 2px solid white;
  color: white;
  transition: 800ms ease-in 200ms;
}

.navigation {
  height: 8vh;
  background: lightblue;
  min-height: 50px;
}

.navigation > ul > li > a:hover {
  text-decoration: underline;
}

.iconek {
  width: 80%;
}
.other {
  background: rgba(240, 239, 239, 0.637);
  box-shadow: 4px 4px 10px lightgray;
  display: none;
}

.map {
  background: rgba(240, 239, 239, 0.637);
  box-shadow: 4px 4px 10px lightgray;
}

.content {
  background: rgba(240, 239, 239, 0.637);
  margin-bottom: 2em;
  box-shadow: 4px 4px 10px lightgray;
  width: 80%;
}

footer {
  background-color: darkblue;
  min-height: 150px;
}

footer ul li {
  padding: 5px;
}

.soutien {
  background: rgba(240, 239, 239, 0.637);
  width: 70%;
}

.soutienP {
  width: 90%;
  padding: 10px;
}

.partenaire {
  min-height: 60vh;
}

fieldset {
  border: solid lightblue 1px;
  border-radius: 10px;
  padding: 10px;
}

.contacto {
  width: 70%;
  background-color: lightblue;
  border-radius: 15px;
}

.contacto > i {
  margin-top: 10px;
}

.copyright {
  color: white;
  text-align: center;
}

.nav-foot {
  flex-direction: column;
}

section img {
  display: none;
}

@media screen and (max-width: 150px) {
  .header .logo a {
    flex-direction: column;
    align-items: center;
  }

  p, label {
    font-size: 0.7em;
  }

  h2, h3 {
    font-size: 1em;
  }

  .btn {
    width: 100%;
    height: 100%;
    font-size: 0.5em;
  }
}

@media screen and (max-width: 325px) {
  ul.link-nav, aside, nav, .card > img, .contacto > p, .iconek, .picPlan {
    display: none;
  }
 
  ul.social {
    display: flex;
  }

  legend {
    font-size: 0.7em;
  }
}

@media screen and (min-width:552px) {
  ul.link-nav {
    display: flex;
  }

  .banner {
    background-image: url(./image/banner2.png);
    background-size: cover;
    background-position-y: 30%;
    height: 24vh;
    min-height: 100px;
  }

  .home {
    flex-direction: row;
  }
  
  .galerie {
    background: rgba(240, 239, 239, 0.637);
  }

  .card, aside {
    margin: auto;
    width: 50%;
  }

  .nav-foot {
    flex-direction: row;
  }

  .other {
    display: flex;
    flex-direction: column;
  }

  section img {
    display: block;
  }

  .navigation {
    border-bottom: solid 1px darkblue;
  }
}

@media screen and (min-width:930px) {
  .header > ul {
    width: 80%;
  }

  .iconek {
    width: 40%;
  }

  .social {
    font-size: 1.4em;
  }
}