.stud {
  height: 200px;
  width: 300px;
  float: left;
  margin: 1em;
  border-radius: 5%;
}

nav.bread {
  background-color: lightblue;
  border-top: 1px solid darkblue;
}

header {
  background-color: darkblue;
  height: 17vh;
  min-height: 100px;
}


header > ul > li > a {
  text-decoration: none;
  font-weight: bold;
}

header > ul > li {
  padding: 10px;
}

header > ul > li:hover {
  border-bottom: 2px solid white;
  color: white;
  transition: 800ms ease-in 200ms;
  
}

.navigation {
  height: 8vh;
  background: lightblue;
  border-bottom: solid 1px darkblue;
}

nav > .navigation > ul > li > a:hover {
  text-decoration: underline;
}

.iconek {
  display: none;
}

.map {
  width: 70%;
  background: rgba(240, 239, 239, 0.637);
  margin: auto;
}

.content {
  background: rgba(240, 239, 239, 0.637);
  margin-bottom: 2em;
}

footer {
  margin-top: 10px;
  background-color: darkblue;
  min-height: 150px;
}

footer ul li {
  padding: 5px;
}

.galerie {
  width: 80%;
  height: 95%;
  margin: auto;
}

.soutien {
  width: 80vw;
  height: 130vh;
  background: rgba(240, 239, 239, 0.637);
}

.soutienP {
  width: 70%;
  height: 45%;
}

.card {
  margin: auto;
}


@media screen and (max-width: 301px) {
  ul.link-nav {
    display: none;
  }
  nav > .navigation > ul > li {
    display: none;
  }
  nav .navigation {
    background-color: white;
    border: none;
  }

  aside {
    margin: auto;
  }

  aside  {
    display: none;
  }

  nav {
    display: none;
  }

  .card > img {
    display: none;
  }

  .card {
    width: 100%;
  }

  .galerie {
    display: block;
    margin: 0;
  }
}

@media screen and (min-width:528px) {
  ul.link-nav {
    display: flex;
  }
  ul.link-nav > li > a {
    margin: 0em;
    padding: 1em;
  }
  .banner {
    background-image: url(./image/banner2.png);
    background-size: cover;
    background-position-y: 30%;
    height: 200px;
    width: 100vw;
  }

  .iconek {
    height: 40%;
    width: 30%;
    display: initial;
  }

  nav {
    display: block;
  }

  .galerie {
    background: rgba(240, 239, 239, 0.637);
  }
  
}

@media screen and (min-width:930px) {
  header > ul {
    width: 80%;
  }
  .logo {
  width: 20%;
  }

  main {
    display: flex;
    min-height: 120vh;
    align-items: center;
  }
  .map {
    width: 40vw;
    height: 250px;
    box-shadow: 4px 4px 10px lightgray;
    margin: 0;
    
  }
  .content {
    width: 50vw;
    height: 75vh;
    box-shadow: 4px 4px 10px lightgray;
    
  }

  .iconek {
    height: 40%;
    width: 40%;
    
  }

  .other {
    width: 40vw;
    height: 40vh;
    background: rgba(240, 239, 239, 0.637);
    box-shadow: 4px 4px 10px lightgray;
    margin-top: 50px;
    
    
  }

  aside {
    display: inline-block;
    margin-bottom: 20px;
  }

  .social {
    font-size: 1.4em;
  }
}

